PORT=3000
AI_SERVICE_URL=https://lyalythia-awaslink-api.hf.space

# Konfigurasi Database Prisma
DATABASE_URL="postgresql://postgres:root@localhost:5432/awaslink_db?schema=public"
DIRECT_URL="postgresql://postgres:root@localhost:5432/awaslink_db?schema=public"