PORT=3000
AI_SERVICE_URL=https://lyalythia-awaslink-api.hf.space

# Konfigurasi Database Prisma
DATABASE_URL="postgresql://postgres:root@localhost:5432/awaslink_db?schema=public"
DIRECT_URL="postgresql://postgres:root@localhost:5432/awaslink_db?schema=public"

# Kunci Enkripsi JWT (Ganti dengan string acak yang panjang dan aman di production)
JWT_SECRET="ganti_dengan_secret_key_yang_kuat_dan_panjang"